fastapi
uvicorn[standard]
python-multipart
aiofiles
pydantic
pydantic-settings
typing-extensions
python-dotenv
langgraph
langchain
langchain-core
langchain-deepseek
langchain-openai
langchain-text-splitters
langchain-community
sentence-transformers
chromadb
faiss-cpu
pypdf
langsmith
numpy


torch
torchvision
pillow
opencv-python
pymupdf
requests
tqdm


transformers
accelerate
bitsandbytes
Pillow
openai-clip
git+https://github.com/openai/CLIP.git
PyPDF2
pdf2image
poppler-utils